#titleLabel {
    font: 18px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: white;
}

#contentLabel {
    font: 12px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: rgb(208, 208, 208);
}