AccountInterface, #scrollWidget{
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}

AccountInterface, #accountAreaWidget{
    background-color: transparent;
}