#titleLabel {
    font: 18px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: black;
}

#contentLabel {
    font: 12px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: rgb(93, 93, 93);
}