requests~=2.32.0
fake-useragent~=1.5.0
pycryptodome~=3.21.0
PyQt-Fluent-Widgets~=1.7.6
PyQt5-Frameless-Window~=0.6.0
PyQt5~=5.15.11
platformdirs~=4.3.6
peewee~=3.17.8
icalendar~=6.1.0
packaging~=24.2
Markdown~=3.7
colorama~=0.4.6
psutil~=7.0.0
tqdm~=4.67.1
lxml~=5.3.1
plyer~=2.1.0
pytz~=2025.2